skinparam backgroundColor white 
skinparam activityArrowColor #021540
skinparam activityBackgroundColor #E5E8EF
skinparam activityBorderColor #021540 
skinparam activityStartColor black 
skinparam activityEndColor black 
skinparam activityBarColor black 
skinparam actorBackgroundColor #E5E8EF
skinparam actorBorderColor #021540 
skinparam usecaseArrowColor #021540 
skinparam usecaseBackgroundColor #E5E8EF
skinparam usecaseBorderColor #021540 
skinparam classArrowColor #021540 
skinparam classBackgroundColor #E5E8EF
skinparam classBorderColor #021540 
skinparam objectArrowColor #021540 
skinparam objectBackgroundColor #E5E8EF
skinparam objectBorderColor #021540 
skinparam packageBackgroundColor #E5E8EF
skinparam packageBorderColor #021540 
skinparam stereotypeCBackgroundColor #ADD1B2 
skinparam stereotypeABackgroundColor #A9DCDF 
skinparam stereotypeIBackgroundColor #B4A7E5 
skinparam stereotypeEBackgroundColor #EB937F 
skinparam componentArrowColor #021540 
skinparam componentBackgroundColor #E5E8EF
skinparam componentBorderColor #021540 
skinparam componentInterfaceBackgroundColor #E5E8EF
skinparam componentInterfaceBorderColor #021540 
skinparam noteFontColor #000000
skinparam noteFontSize 18
skinparam noteFontStyle  plain
skinparam noteBackgroundColor #f8fcff
skinparam noteBorderColor #021540
skinparam noteRoundCorner 10
skinparam stateBackgroundColor #E5E8EF
skinparam stateBorderColor #021540 
skinparam stateArrowColor #021540 
skinparam stateStartColor black 
skinparam stateEndColor black 
skinparam sequenceArrowColor #000000
skinparam sequenceDividerBackgroundColor #303438 
skinparam sequenceDividerBorderColor #ffffff
skinparam sequenceDividerFontColor white
skinparam sequenceDividerFontSize 18
skinparam sequenceDividerFontStyle  plain
skinparam sequenceLifeLineBackgroundColor #41719c
skinparam sequenceLifeLineBorderColor #021540 
skinparam sequenceParticipantBackgroundColor #E5E8EF
skinparam sequenceParticipantBorderColor #021540 
skinparam sequenceBoxBorderColor #ffffff
skinparam sequenceBoxBackgroundColor #f8f8f8
skinparam sequenceBoxRoundcorner 10
skinparam sequenceReferenceAlign center
skinparam sequenceActorFontColor black
skinparam sequenceActorFontSize 18
skinparam sequenceActorFontStyle bold
skinparam sequenceArrowFontColor black
skinparam sequenceArrowFontSize 18
skinparam sequenceArrowFontStyle  plain
skinparam sequenceGroupBackgroundColor #EEEEEE 
skinparam sequenceGroupFontColor black
skinparam sequenceGroupFontSize 18
skinparam sequenceGroupFontStyle  bold
skinparam sequenceGroupHeaderFontColor black
skinparam sequenceGroupHeaderFontSize 18
skinparam sequenceGroupHeaderFontStyle  bold
skinparam sequenceParticipantFontColor black
skinparam sequenceParticipantFontSize 18
skinparam sequenceParticipantFontStyle  bold
skinparam sequenceStereotypeFontColor black
skinparam sequenceStereotypeFontSize 18
skinparam sequenceStereotypeFontStyle  italic
skinparam sequenceTitleFontColor black
skinparam sequenceTitleFontSize 18
skinparam sequenceTitleFontStyle  bold

skinparam defaultFontName Calibri
skinparam defaultFontSize 18

skinparam activityFontColor black
skinparam activityFontSize 18
skinparam activityFontStyle bold
skinparam activityArrowFontColor black
skinparam activityArrowFontSize 18
skinparam activityArrowFontStyle  plain
skinparam circledCharacterFontColor black
skinparam circledCharacterFontSize 18
skinparam circledCharacterFontStyle bold
skinparam circledCharacterRadius 11
skinparam classArrowFontColor black
skinparam classArrowFontSize 18
skinparam classArrowFontStyle  plain
skinparam classAttributeFontColor black
skinparam classAttributeFontSize 18
skinparam classAttributeIconSize  10 
skinparam classAttributeFontStyle  plain
skinparam classFontColor black
skinparam classFontSize 18
skinparam classFontStyle bold
skinparam classStereotypeFontColor black
skinparam classStereotypeFontSize 18
skinparam classStereotypeFontStyle  italic
skinparam objectArrowFontColor black
skinparam objectArrowFontSize 18
skinparam objectArrowFontStyle  plain
skinparam objectAttributeFontColor black
skinparam objectAttributeFontSize 18
skinparam objectAttributeFontStyle  plain
skinparam objectFontColor black
skinparam objectFontSize 18
skinparam objectFontStyle bold
skinparam objectStereotypeFontColor black
skinparam objectStereotypeFontSize 18
skinparam objectStereotypeFontStyle  italic
skinparam componentFontColor black
skinparam componentFontSize 18
skinparam componentFontStyle bold
skinparam componentStereotypeFontColor black
skinparam componentStereotypeFontSize 18
skinparam componentStereotypeFontStyle  italic
skinparam componentArrowFontColor black
skinparam componentArrowFontSize 18
skinparam componentArrowFontStyle  plain
skinparam packageFontColor black
skinparam packageFontSize 18
skinparam packageFontStyle bold
skinparam titleFontColor black
skinparam titleFontSize 18
skinparam titleFontStyle bold
skinparam stateFontColor black
skinparam stateFontSize 18
skinparam stateFontStyle bold
skinparam stateArrowFontColor black
skinparam stateArrowFontSize 18
skinparam stateArrowFontStyle  plain
skinparam stateAttributeFontColor black
skinparam stateAttributeFontSize 18
skinparam stateAttributeFontStyle  plain
skinparam usecaseFontColor black
skinparam usecaseFontSize 18
skinparam usecaseFontStyle  plain
skinparam usecaseStereotypeFontColor black
skinparam usecaseStereotypeFontSize 18
skinparam usecaseStereotypeFontStyle  italic
skinparam usecaseActorFontColor black
skinparam usecaseActorFontSize 18
skinparam usecaseActorFontStyle  plain
skinparam usecaseActorStereotypeFontColor black
skinparam usecaseActorStereotypeFontSize 18
skinparam usecaseActorStereotypeFontStyle  italic
skinparam usecaseArrowFontColor black
skinparam usecaseArrowFontSize 18
skinparam usecaseArrowFontStyle  plain
skinparam footerFontColor black
skinparam footerFontSize 18
skinparam footerFontStyle  plain
skinparam headerFontColor black
skinparam headerFontSize 18
skinparam headerFontStyle  plain
skinparam roundcorner 10
' Removing this auto-wrap, overall default is better
'skinparam maxMessageSize 200

skinparam shadowing false
